extends: default

rules:
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  document-start:
    present: false
  line-length:
    max: 999
  indentation:
    indent-sequences: false